@import url('https://fonts.googleapis.com/css?family=Roboto|Montserrat')

$font-color: #222
$font-color--lighter: #555
$accent-color: #e67e22

body
	background-color: #bdc3c7

.general-container
	background-color: #ecf0f1
	margin-top: 2vh
	padding-bottom: 1vh 
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)

h1, h2, h3, h4, h5, h6
	font-family: "Montserrat"
	color: $font-color

aside
	color: $font-color--lighter

p, a
	font-family: "Roboto"
	color: $font-color

hr
	border: 1px solid $accent-color
	margin: 2vh auto 0
	max-width: 50%

a
	text-decoration: none
	color: $font-color
	&:hover
		color: $accent-color
		font-weight: bold

.badges
	display: flex
	justify-content: center
	ul
		list-style: none
		padding: 0
	li
		float: left
		margin: 2vh 4vw
	img
		height: 120px

.my-works
	img
		max-width: 200px

.work-card
	margin-top: 2vh
	background-color: #f7f7f7
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
	transition: 0.3s
	&:hover
		box-shadow: 0 20px 40px rgba(0,0,0,0.27), 0 12px 12px rgba(0,0,0,0.33)


.fa
	font-size: 1.3em
	padding: 0 1vw

.contact-me
	a
		font-size: 1.2em

footer
	height: 8vh
	margin: auto
	line-height: 8vh

	p
		margin-bottom: 0