@import url('https://fonts.googleapis.com/css?family=Roboto|Montserrat')

$border-color: #e67e22

h1, h2, h3, h4, h5, h6
	font-family: "Montserrat"

p, a
	font-family: "Roboto"

.fa
	font-size: 1.3em

body
	background-color: #bdc3c7

hr
	border-style: solid
	border-color: $border-color
	border-top-width: 1px
	margin: 2vh auto 0
	max-width: 75%

.general-container
	background-color: #ecf0f1
	margin-top: 2vh
	padding-bottom: 1vh 
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)

.about
	border-left: 2px solid $border-color

.technologies
	display: flex
	justify-content: center
	ul
		list-style: none
	li
		float: left
		margin: auto 3vh
	img
		height: 120px

.my-works
	img
		max-height: 200px

footer
	height: 8vh
	margin: auto
	line-height: 8vh

	p
		margin-bottom: 0